############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
*.so

############################
# Virtual environments
############################
venv/
env/
.venv/
conda/
*.conda
*.env

############################
# PyCharm / IDE
############################
.idea/
.vscode/
*.iml

############################
# Jupyter / Colab
############################
.ipynb_checkpoints/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# ML artifacts (ВАЖНО)
############################
*.pt
*.pth
*.ckpt
*.onnx

############################
# Data (не храним датасеты в git)
############################
data/raw/
data/processed/
*.csv
*.tsv
*.zip
*.tar.gz

############################
# Caches
############################
.cache/
.pytest_cache/
.mypy_cache/

############################
# Tensorboard
############################
runs/
wandb/

############################
# Temporary files
############################
tmp/
temp/
